version: '3.2'
services:
  test-deploy-service-1:
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=stage
      - JAVA_TOOL_OPTIONS=-Xmx128M
    ports:
      - 7001:7001

